//Mixins a utiliser seulement si il y a des paramètres spécifiques.
@mixin marge-btn {
    padding: 0.9rem 1rem;
    margin: auto;
    border:none;
}

@mixin box--shadow {
    box-shadow:  2px 5px 11px #00000030;
}
@mixin box-shadow-bis {
    box-shadow: 2px 5px 11px $secondary-color-bis;
    }
@mixin padding-and-radius {
    border-radius: 1.2rem;
    padding:1.5rem;
}
@mixin dish {
    border-radius: 1.2rem;
}


@mixin image-scale{
    object-fit: cover;
    width: 100%;
    height: 14rem;
}

@mixin padd{
padding-right: 1rem; 
}