// Placehorders a utiliser pour les variables sans paramètre.

%flex-with-wrap{
    display:flex;
    flex-wrap: wrap;
}

%flex-with-nowrap{
    display:flex;
    flex-wrap: nowrap;
}

// Flex pour centrer l'élément
%flex-center {
    align-items: center;
    justify-content: center;
}

%flex-titles{
    align-items: center;
    justify-content: space-between;
}

//Flex qui vont avec column
%flex-column{
    display:flex;
    flex-direction: column;
}

%flex-row{
    flex-direction: row;
}

%flex-start{
    align-items: center;
}

//Flex end
%flex-end{
    align-items: flex-end;
    justify-content: space-between;
}

%Elipse {
    overflow: hidden;
    text-overflow: ellipsis;
}