// Variables a intégrer dans le SCSS.

// Couleurs Principales
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$secondary-color-bis:#ff79d98a;
$tertiary-color:#99E2D0;
$tertiary-color-bis:#006d52;

//Couleurs de Texte
$txt-fond-clair:#12130f;
$txt-fond-sombre:#fbfef9;

// Couleurs background
$fond-color:#f2f2f2ad;
$fond-color-bis:#fafafa;
$fond-bold-color:#f2f2f2;
$fond-default-color: white;

//Style et autres
$style-bold:900;
// Utilitaires dimensions
$radius-btn:10px;
$radius-new:0.3rem;
$none-marge:0rem;

//Dégrader de couleur pour les coeur
$degrader: linear-gradient(170deg, $secondary-color, $primary-color);
//Media queries
$media-desktop-and-tablette: "only screen and (min-width: 1024px)";
/* Cubic-Bezier */
$cubic: cubic-bezier(0.28, 0.57, 0.32, 0.82) 1s;