/* @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
/* Mini reset */
html,body,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h4,h5,h6{margin:0;padding:0}h1,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}
table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/*Importation des variables et mise en place des polices personnalisé*/
@import "_mixins.scss";

@import "_placeholders.scss";

@import "_variables.scss";

@font-face {
    font-family:'Shrikhand';
    src: url('../../Police/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'Roboto';
    src: url('../../Police/Roboto/Roboto-Regular.ttf') format('truetype');
}
body {
    font-family: "Roboto","Cursive","sans-serif";
}

header {
    @extend %flex-column;
}
a:link {
    text-decoration: none;
    color:$txt-fond-sombre;
}
a:visited {
    color:$txt-fond-clair;
}
button{
    cursor: pointer;
}
h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.53em;
    font-weight: 900;
}
/* Animation du coeur*/
.material-icons--empty{
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    transition: color 150ms 50ms ease;
    &:hover{
        color: transparent;
    }
    &:hover > .fullHeart{
        transform: scale(1);
    }
}
.emptyHeart{
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    transition: color 150ms 50ms ease;
    @include padd;
    &:hover{
        color: transparent;
    }
    &:hover > .fullHeart{
        transform: scale(1);
    }
}
.fullHeart{
    position: absolute;
    top: 0;
    left: 0;
    background: $degrader;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0);
    transition: transform 250ms 50ms ease-in-out;
}

/* Animation du Loader */
.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.85;
    z-index: 5;
    animation: disable 0.8s 2.33s forwards;
}
@keyframes disable {
    from{
        transform: scale(1);
    }
    to{
        background-color: transparent;
        color:transparent;
        overflow: hidden;
        transform: scale(0);
        border: whitesmoke;
        border-radius: 50%;
    }
}
.lds-hourglass {
    display: inline-block;
    position: absolute;
    top: 35%;
    right: 30%;
    width: 80px;
    height: 80px;
    animation: disable 0.8s 2.33s forwards;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    position: absolute;
    top:50%;
    right: 50%;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 40px solid #fff;
    border-color: $primary-color transparent $secondary-color transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
/* ------- */
/* Headder & Nav */
.ctncity{
    display: flex;
    padding: 1.7rem;
    @extend %flex-center;
    &__logo {
        height: 2.5rem;
    }
}
.search{
    display: flex;
    @extend %flex-center;
    @include marge-btn;
    background-color:$fond-bold-color;
    border-top-style:inset;
    border-bottom-style:inset;
    text-align: center;
}

input{
    border:none;
    background-color:$fond-bold-color;
    font-weight: 700;
}

.ctnrestaurants--style{
    margin: 0.5rem;
}
.--modif{
    &:hover{
            transform: scale(1.07);
            transition: $cubic;
            @include box-shadow-bis;
            font-size: 1.15rem
    }
}
.container{
    @extend %flex-column;
    @extend %flex-center;
    background-color: $fond-color;
    height: 15rem;
    text-align: center;
    padding: 0rem 4.2rem;
    &__btn{
        @include marge-btn;
        font-size: 1rem;
        margin-block-end: 2rem;
        border-radius: 2rem;
        &--color{
            background-image:linear-gradient($secondary-color,$primary-color);
            color:$txt-fond-sombre;
        }
    }
}

.ctnfonctionnement{
    @extend %flex-column;
    max-width: 21rem;
    margin: 2rem auto;
    position: relative;
    &__border{
        display: flex;
        @extend %flex-start;
        @include box--shadow;
        @include padding-and-radius;
        background-color: $fond-color;
        cursor: pointer;
        margin-block-end: 1rem;
    }
}
/* ------- */
// Tout les restaurants //
.All-Resto{
    background-color: #f2f2f2ad;
    padding: 2rem 1.3em;
}
.material-icons{
    cursor:pointer;
    font-size: 30px;
}
.style--icons{
    padding-right: 1rem;
    font-size: 32px !important;
}

mark {
    background-color: $primary-color;
    border:$primary-color;
    color:$txt-fond-sombre;
    position: absolute;
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    transform: translate(-2.2rem, 0.1rem)
}

.ctnrestaurants{
    display: block;
    position: relative;
    height: 19rem;
    border-radius: 1.3rem;
    background-color: white;
    margin-bottom: 2.5rem;
    @include box--shadow;
    &__img{
        @include image-scale;
        border-radius:1.3rem 1.3rem 0rem 0rem;
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.ctnrestaurants__fresh{
    position: absolute;
    transform: translate(-5.5rem, 1rem);
    border-radius: $radius-new;
    background-color: $tertiary-color;
    padding: 0.4rem;
    color:$tertiary-color-bis;
}
/* Footer */
.footer{
    background-color: #353535;
    color:white;
    padding: 2rem;
}
.police {
    font-family: "Shrikhand";
}
/* -------- */
/* Pour rendre les polices en mode normal */
// .police__modif{
//     font-weight: normal;
// }
/* ------- */
// Paramètres pour pages 2 3 4 5
.All{
    background-color: $fond-color-bis;
    margin-top: -1.5rem;
    @extend %flex-column;
}

/* Placement & Animation des entrées plat & dessert */
.ctnmenus{
  display: flex;
  cursor: pointer;
  background-color: $fond-default-color;
  margin: 1rem;
  @include box--shadow;
  @include dish;
  @extend %flex-end;
  transition-duration: .5s;
  max-height: 6rem;
  &__title{
    padding: 0.8rem;
    flex:4;
    @extend %Elipse;
    &:hover{
        white-space: nowrap;
        padding: 0.8rem;
    }
      &--style{
        margin-block-end: 0%;
        @extend %Elipse;
        &:hover{
            @extend %Elipse;
            white-space: nowrap;
        }
      }
  }
      &__checked{
          display: flex;
          height: 6rem;
          background-color: transparent;
          border-radius: 0rem 1rem 1rem 0rem;
          @extend %flex-center;
      }
  }

h4:hover{
    overflow: hidden;
    text-overflow: ellipsis;
}
.ctnmenus:hover
{
    .ctnmenus__checked{
    animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    flex: 1;
    
    padding-bottom: 0.1rem;
    transition: ease-in-out 1s;
    background-color: $tertiary-color;
    }

    .ctnmenus__checked--style{
        color:white;
        transition-duration: 0.9s;
        transform: rotate(1080deg);
    }
}
.ctnmenus__checked--style{
    color: transparent;
    transform: rotate(1deg);
}

@keyframes scale-in-hor-right {
    from {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @-webkit-keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
span{
    padding:0.8rem;
    font-weight: bold;
}
@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  
.swing-in-top-fwd{
    animation: swing-in-top-fwd 0.58s cubic-bezier(0.42, 0.41, 0.55, 0.94) both;
}
@for $delay from 1 to 10 {
    .delay-#{$delay}{
        animation-delay:($delay*0.23s);
    }
}
@-webkit-keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
              transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-right {
    0% {
      -webkit-transform: translateX(800px) rotate(540deg);
              transform: translateX(800px) rotate(540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  .roll-in-right {
	-webkit-animation: roll-in-right 0.6s ease-out both;
	        animation: roll-in-right 0.6s ease-out both;
}
.moveh3, .border__bottom--h3{
    margin-left: 1.5rem;
    margin-top: 2rem;
    border-bottom: solid 2px $tertiary-color;
    padding-bottom: 0.3rem;
    width: 3rem;
}
.moveh2{
    padding-left: 2rem;
}
.ctntop__police{
    font-family: "Shrikhand";
}

.ctntop{
    background-color: $fond-color-bis;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem 1rem 0rem 1rem;
    @extend %flex-with-nowrap;
    margin-top: -0.5rem;
    @extend %flex-titles;
    &__police--modif{
        font-size: 2em;
        margin-block-start: 0.93rem;
    }
}

.ctnheader{
    display: flex;
    @extend %flex-center;
    &__icone{
        position:absolute;
        left:2%;
        transform: translate(0rem, 1rem);
    }
    &__logo{
        margin: 0.8rem 0;
        height: 2rem;
    }
}
.container__btn--modif{
        padding:  0.9rem 2.7rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
}


//Media pour tablette et desktop
@media only screen and (min-width: 1024px) {
    // Media pour acceuil
    .none{
        display: none;
    }
    .ctnfonctionnement{
        max-width: 100%;
        width:70rem;
        margin-top: 5rem;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .ctnmenus{
        width: 91%;
    }
    .All{
        margin-top: -5.5rem;
    }
    .ctnheader__icone{
        transform: translate(0rem, 1.5rem);
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 3%;
        padding-bottom: 8.2rem;
        padding-top: 3rem;
    }
    .footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    //Media Queries pour les pages de menus
    
    .gridfather{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 77%;
    }
    .gridchild{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    .image{
        height: 45rem;
        object-fit: cover;
        object-position: 0% 87%;
        width: 100%;
    }
    .image--position2{
        object-position: 0% 59%;
    }

    .ctnheader__logo{
        height: 3rem;
    }
    .image--position3{
        object-position: 0% 61%;
    }
    .lds-hourglass{
        right: 45%;
    }
    .ctntop{
        justify-content: flex-start;
        &__police{
            padding-right: 2rem;
        }
    }
    .ctnmenus__checked{
        height: 5rem;
    }
    .container__btn--modif{
        padding: 1.3rem 5rem;
        margin-bottom: 6rem;
    }
}

// Configuration reglage de l'emplacement du loader Ipad 
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .lds-hourglass{
        right:39%;
        top:32%;
    }
}

// Configuration reglage de l'emplacement du loader Ipad Pro
@media only screen and (min-width: 1024px) and (max-width: 1366px){
    .lds-hourglass{
        right:41%;
        top:25%;
    }
}