/* @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
html,body,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h4,h5,h6{margin:0;padding:0}h1,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}
table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

@import "_mixins.scss";

@import "_placeholders.scss";

@import "_variables.scss";

@font-face {
    font-family:'Shrikhand';
    src: url('../../Police/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'Roboto';
    src: url('../../Police/Roboto/Roboto-Regular.ttf') format('truetype');
}
body {
    font-family: "Roboto","Cursive","sans-serif";
}

header {
    @extend %flex-column;
}
a:link {
    text-decoration: none;
    color:$txt-fond-clair;
    
}
a:visited {
    color:$txt-fond-clair;
}
button{
    cursor: pointer;
}
h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.53em;
    font-weight: 900;
  }


.ctncity{

    &__logo {
        height: 2rem;
        padding-left:7rem;
        margin: 1rem auto;
    }
    &__search{
        @include marge-btn;
        @extend %flex-with-wrap;
        padding-left: 8rem;
        background-color:$fond-bold-color;
        border-top-style:inset;
        border-bottom-style:inset;
        text-align: center;
    }
}
input{
    border:none;
    background-color:$fond-bold-color;
    font-weight: 700;
}

.ctnrestaurants--style{
    margin: 0.5rem;
}
.container{
    @extend %flex-column;
    @extend %flex-center;
    background-color: $fond-color;
    height: 15rem;
    text-align: center;
    padding: 0rem 4.2rem;
    &__btn{
        @include marge-btn;
        font-size: 1rem;
        margin-block-end: 2rem;
        border-radius: 2rem;
        &--color{
            background-image:linear-gradient($secondary-color,$primary-color);
            color:$txt-fond-sombre;
        }
    }
}

.ctnfonctionnement{
    @extend %flex-column;
    max-width: 23rem;
    margin: 2rem auto;
    position: relative;
    &__border{
        display: flex;
        @extend %flex-start;
        @include box--shadow;
        @include padding-and-radius;
        background-color: $fond-color;
        margin-block-end: 1rem;
    }
}
// Tout les restaurants //
.All-Resto{
    background-color: #f2f2f2ad;
    padding: 2rem 1.3em;
}
.material-icons{
    padding-right: 1rem;
    cursor:pointer;
}

mark {
    background-color: $primary-color;
    border:$primary-color;
    color:$txt-fond-sombre;
    position: absolute;
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    transform: translate(-2.2rem, 0.1rem)
}

.ctnrestaurants{
    display: block;
    position: relative;
    height: 19rem;
    border-radius: 1.3rem;
    background-color: white;
    margin-bottom: 2.5rem;
    @include box--shadow;
    &__img{
        @include image-scale;
        border-radius:1.3rem 1.3rem 0rem 0rem;
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.ctnrestaurants__fresh{
    position: absolute;
    transform: translate(-5.5rem, 1rem);
    border-radius: $radius-new;
    background-color: $tertiary-color;
    padding: 0.4rem;
    color:$tertiary-color-bis;
}
.footer{
    background-color: #353535;
    color:white;
    padding: 2rem;
}
.police {
    font-family: "Shrikhand";
}
.police__modif{
    font-weight: normal;
}

// Paramètres pour pages 2 3 4 5
.All{
    background-color: $fond-color-bis;
    margin-top:-1.5rem;
    @extend %flex-column;
}


.ctnmenus{
  display: flex;
  background-color: $fond-default-color;
  margin: 1rem;
  @include box--shadow;
  @include dish;
  @extend %flex-end;
  &__title{
      &--style{
        margin-block-end: 0em;
      }
  }
}
.moveh3, .border__bottom--h3{
    margin-left: 1.5rem;
    margin-top: 2rem;
    border-bottom: solid 2px $tertiary-color;
    padding-bottom: 0.3rem;
    width: 3rem;
}
.ctntop__police{
    font-family: "Shrikhand";
}

.ctntop{
    background-color: $fond-color-bis;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem 1rem 0rem 1rem;
    @extend %flex-with-nowrap;
    margin-top: -0.5rem;
    @extend %flex-titles;
    &__police--modif{
        font-size: 2em;
        margin-block-start: 0.93rem;
    }
}

.ctnheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__logo{
        height: 2rem;
        padding-left: 4.9rem;
        margin: 0.8rem 0;
    }
}
.container__btn--modif{
        padding:  0.9rem 2.7rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
}
