/* @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
html, body, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h5, h4, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.ctncity__search {
  display: flex;
  flex-wrap: wrap;
}

.container {
  align-items: center;
  justify-content: center;
}

.ctnfonctionnement, .container {
  display: flex;
  flex-direction: column;
}

.ctnfonctionnement__border {
  align-items: center;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../../Police/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../../Police/Roboto/Roboto-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", "Cursive", "sans-serif";
}

a:link {
  text-decoration: none;
  color: #12130f;
}

a:visited {
  color: #12130f;
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.53em;
  font-weight: 900;
}

.ctncity__logo {
  height: 2rem;
  padding-left: 7rem;
  margin: 1rem auto;
}
.ctncity__search {
  padding: 0.9rem 1rem;
  margin: auto;
  border: none;
  padding-left: 8rem;
  background-color: #f2f2f2;
  border-top-style: inset;
  border-bottom-style: inset;
  text-align: center;
}

input {
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
}

h3 {
  margin-block-end: 0rem;
}

.ctnrestaurants--style {
  margin: 0.5rem;
}

.container {
  background-color: #f2f2f2ad;
  margin: 2rem 0rem;
  height: 15rem;
  text-align: center;
  padding: 0rem 4.2rem;
}
.container__btn {
  padding: 0.9rem 1rem;
  margin: auto;
  border: none;
  font-size: 1rem;
  margin-block-end: 2rem;
  border-radius: 2rem;
}
.container__btn--color {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #fbfef9;
}

.ctnfonctionnement {
  max-width: 23rem;
  margin: 2rem auto;
  position: relative;
}
.ctnfonctionnement__border {
  display: flex;
  box-shadow: 2px 5px 11px #00000030;
  border-radius: 1.2rem;
  padding: 1.5rem;
  background-color: #f2f2f2ad;
  margin-block-end: 1rem;
}

.All-Resto {
  background-color: #f2f2f2ad;
  padding: 2rem 1.3em;
}

.material-icons {
  padding-right: 1rem;
}

mark {
  background-color: #9356DC;
  border: #9356DC;
  color: #fbfef9;
  position: absolute;
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
  transform: translate(-2.2rem, 0.1rem);
}

.ctnrestaurants {
  display: block;
  position: relative;
  height: 19rem;
  border-radius: 1.3rem;
  background-color: white;
  margin-bottom: 2.5rem;
  box-shadow: 2px 5px 11px #00000030;
}
.ctnrestaurants__img {
  object-fit: cover;
  width: 100%;
  height: 14rem;
  border-radius: 1.3rem 1.3rem 0rem 0rem;
}
.ctnrestaurants__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ctnrestaurants__fresh {
  position: absolute;
  transform: translate(-5.5rem, 1rem);
  border-radius: 0.3rem;
  background-color: #99E2D0;
  padding: 0.4rem;
  color: #006d52;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 2rem;
}

.police {
  font-family: "Shrikhand";
}

/*# sourceMappingURL=style.css.map */
